@charset "UTF-8";


/* FOOTER */
.footer {
  background: #12386c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.footer-section {
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.social-icons img {
  height: 30px;
  margin: 0 5px;
}

.footer-nav ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-nav ul li a{
  color: white;
}

.footer-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.footer-section ul li {
  text-align: left;
  margin-bottom: 5px;
}

.copyright p {
  font-weight: bold;
}

@media (max-width: 750px){
  .footer{
    flex-direction: column;
  }
}
